
<div class="container">
   <div class="mt-4">
      <footer id="lien-he" class="site-footer">

         <div class="row">
            <div class="col-sm-12 col-md-6">
               <center><h6> <img class="my-content-img3"
                     src="https://github.com/vuthithutrang/this_is_peet/blob/master/home/img/logo_footer.png?raw=true">
               </h6>
               <p>Peet!! Là cổng thông tin khổng lồ và hoàn toàn miễn phí,</p>
               <p>chuyên chia sẻ các vấn đề xung quanh thú cưng và động vật.</p>
               <p>Nếu bạn là một người yêu động vật thì hãy đến với Peet!</p>
               </center>

            </div>

            <div class="col-xs-6 col-md-3">
               <center><h6>Liên hệ</h6>
               <ul class="footer-links">
                  <li> <img class="my-content-img4"
                        src="https://github.com/vuthithutrang/this_is_peet/blob/master/home/img/logo_fb.png?raw=true">
                     <img class="my-content-img5"
                        src="https://github.com/vuthithutrang/this_is_peet/blob/master/home/img/logo_insta.png?raw=true">
                  </li>
                  <li><a href="https://www.facebook.com/thutrang020130">Thu Trang</a></li>
                  <li><a href="https://www.facebook.com/ngoc.bun.ne">Ngọc Nguyễn</a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100034938526903">Diệu Thương</a></li>
                  <li><a href="https://www.facebook.com/Hoanghop2604">Hoàng Hợp</a></li>
                  <li><a href="https://www.facebook.com/ma.quytung.7">Quý Tùng</a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100036636077485">Huyền Diệp</a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100053863001241">Đức Tuấn</a></li>
               </ul>
               </center>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Đường dẫn</h6>
               <ul class="footer-links">
                  <li>_______________</li>
                  <li>
                     <a href="/"><img class="my-content-img5"
                           src="https://github.com/vuthithutrang/this_is_peet/blob/master/home/img/logo_home.png?raw=true">Trang
                        chủ</a>
                  </li>
                  <li>_______________</li>
                  <li>
                     <a href="/news"><img class="my-content-img5"
                           src="https://github.com/vuthithutrang/this_is_peet/blob/master/home/img/logo_dog.jpg?raw=true">Dog
                        & Cat</a>
                  </li>
                  <li>_______________</li>
                  <li>
                     <a href="/"><img class="my-content-img2"
                           src="https://github.com/vuthithutrang/this_is_peet/blob/master/home/img/logo_mess.png?raw=true">
                        <p>@Bản quyền bài viết thuộc về Peet! </p>
               </ul>
              
            </div>
         </div>
         <hr>
      </footer>
   </div>
</div>