<div class="container">
   <nav class="navbar navbar-expand-sm navbar-dark justify-content-center my-nav1 sticky-top" ,
      style="background-color: #26272b;">
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="navbar-brand" href="/">
               <img src="https://github.com/vuthithutrang/this_is_peet/blob/master/home/img/logo_footer.png?raw=true"
                  style="width:100px;">
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/">TRANG CHỦ</a>
         </li>

         <li class="nav-item">
            <a class="nav-link" href="/news">TRANG TỔNG HỢP</a>
         </li>

         <li class="nav-item px-lg-2 dropdown d-menu ">
            <a class="nav-link dropdown-toggle care-off" href="#" id="dropdown01" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><span class="d-inline-block d-lg-none icon-width"><i
                     class="far fa-caret-square-down"></i></span>TÌM KIẾM
               <polyline points="6 9 12 15 18 9"></polyline>
            </a>
            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
               <a class="dropdown-item" href="/courses/searchcontend">Theo chủ đề</a>
               <a class="dropdown-item" href="/courses/search">Theo tên thú cưng </a>
            </div>
         </li>

         <li class="nav-item px-lg-2 dropdown d-menu ">
            <a class="nav-link dropdown-toggle care-off" href="#" id="dropdown01" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><span class="d-inline-block d-lg-none icon-width">
                     <i class="far fa-caret-square-down"></i></span>TÙY CHỌN KHÁC<polyline points="6 9 12 15 18 9"></polyline>
            </a>
            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
               <a class="dropdown-item" href="#">Quản lý bài viết </a>
               <a class="dropdown-item" href="#">Quản lý tài khoản </a>
               <a class="dropdown-item" href="#">Đăng xuất </a>
               <a class="dropdown-item" href="#"> ... </a>
            </div>
         </li>
         
      </ul>
   </nav>
</div>